# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/
                                              
# Package Files #
*.war
*.nar
*.ear
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


.settings
.classpath
.project
/.vscode
/LetsPatch_database/project
/LetsPatch_database/changedfile
/LetsPatch_database/pool/letspatch_pool
./LetsPatch_database/temp_project
/.idea
/checkout/coverage
/checkout/chart
/checkout/closure
/checkout/lang
/checkout/math
/checkout/time
